<!-- FOOTER -->

<div id="contact" class="footer">
    <div class="row">
        <!-- footer-about-start -->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="footer-widget">
                <h3 class="footer-title">Contact Infomation</h3>
                <div class="footer-contact">
                        <i class="fa fofa fa-map-marker"></i>Lokhandwala, Andheri, Mumbai
                        <br>
                        <i class="fa fofa fa-phone-square"></i>+91 885 0618 260
                        <br>
                        <i class="fa fofa fa-envelope-square"></i>eatwisehealth@gmail.com
                </div>
                  <img src="instagram-square.eps" alt="">
                <div class="footer-social">
                  <a href="https://www.facebook.com/eatwisehealth/"><span><i class="fa fa-facebook-square"></i>
                  </span></a>
                  <!-- <a href=""><span><i class="fa fa-google-plus-square"></i> -->
                  </span></a> <a href="https://twitter.com/eatwisehealth?lang=en"><span class="active"><i class="fa fa-twitter-square"></i>
                  </span></a> <a href="https://www.instagram.com/eatwisehealth/"><span><i class="fa fa-instagram"></i>
                  </span></a> <a href="https://in.linkedin.com/in/dr-ritu-jain-92b653164"><span><i class="fa fa-linkedin-square"></i>
                  </span></a>
                </div>
            </div>
        </div>
        <!-- footer-useful links-start -->
        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="footer-widget">
                <h3 class="footer-title">Quick Links</h3>
                <ul class="angle angle-right">
                    <li><a href="/">Home </a></li>
                    <li><a href="/#my-services">My Services</a></li>
                      <li><a href="/#treatments">Treatments</a></li>
                    <li><a href="/#about">About me</a></li>
                    <!-- <li><a href="/blog">Blog</a></li> -->
                      <li><a href="book">Book Appointment</a></li>
                </ul>
            </div>
        </div>
        <!-- footer-useful links-close -->
        <!-- footer-form-start -->
        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="footer-widget">
                <h3 class="footer-title">Contact Me</h3>
                <form method="post" action="contact">
                    <div class="form-group">
                        <label class="control-label sr-only" for="name"></label>
                        <input id="name" type="text" name="name" class="form-control" placeholder="Name" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label sr-only" for="email"></label>
                        <input id="email" type="email" name="email" class="form-control" placeholder="E-mail" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label sr-only" for="phone"></label>
                        <input id="phone" type="tel" name="phone" class="form-control" placeholder="Phone" minlength="10" maxlength="10" pattern="[7-9]{1}[0-9]{9}" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label sr-only" for="message"></label>
                        <textarea class="form-control" id="message" name="message" rows="3" placeholder="Message"></textarea>
                    </div>
                     <button class="btn btn-primary" type="submit">Send</button>
                </form>
            </div>
        </div>
        <!-- footer-tiny-text-start -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="tiny-footer">
                <p class="footertxt">©2018 - Ritu Jain. All Rights Reserved.</p>
            </div>
        </div>
        <!-- footer-tiny-text-start -->
        <!-- footer-form-close -->
    </div>
</div>
</main>
<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit-icons.min.js"></script>
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script type="text/javascript" src="script.js"></script>

</body>

</html>
