<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Best Diet & Nutrition Expert ✓ Weight Loss & Gain ✓ Acupunture & Acupressure ✓ Balanced Diet ✓ PCOD / PCOS ✓ Pregnancy Diets near you in Lokhandwala, Andheri Mumbai, ( Bombay ).">
  <meta name="keywords" content="Dietitian, Naturopath, Cupping, Acupressure, Acupressure, Weight loss, Weight Gain, Balanced Diet, Pregnancy, Nutrition, PCOD, PCOS, Covid-19, Immunity Booster">
  <title>Dr.Ritu Jain - Naturopath & Dietitian</title>
  <!-- UIKit CSS-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/css/uikit.min.css" />
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- Fontawesome -->
 <script src="cities.js"></script>
 <script src="https://kit.fontawesome.com/b463392290.js" crossorigin="anonymous"></script>
 <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600&family=Nunito+Sans:wght@400;600;700&display=swap" rel="stylesheet">

  <!-- Favicons -->
  <link rel="icon" type="image/png" href="images/favicon_io/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="images/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon_io/favicon-16x16.png">
  <link rel="manifest" href="images/favicon_io/site.webmanifest">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body data-spy="scroll" data-offset="80" data-target="#navbar1">
  <header>
    <nav id="navBar1" class="navbar navbar-expand-lg navbar-light fixed-top bg-light uk-navbar-container" uk-navbar>
      <a class="navbar-brand" href="/">
        <img class="navimg" src="images/LOGO_new.png" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav nav mr-auto">
          <li class="nav-item">
            <a class="nav-link navitm" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navitm" href="/#my-services">My Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navitm" href="/#treatments">Treatments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navitm" href="/#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navitm" href="/#contact">Contact</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link navitm disabled" href="blog.html">Blog</a>
          </li> -->
        </ul>
        <form action="book" method="get" class="form-inline mt-2 mt-md-0">
        <button class="btn btn-md btn-outline-dark my-2 my-sm-0 bookapt" type="submit">Book Appointment</button>
        </form>
      </div>
    </nav>
  </header>
